@import url("reset.css");

@import url("fonts.css");

.wrapper{
    max-width: 1920px;
    padding: 82px 0px;
    margin: 0 auto;
}

.heading{
    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    color: #2F302C;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 72px;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
    font-size: 0px;
}

.ithems{
    margin-left: -68px;
    margin-right: -68px;
    margin-bottom: 68px;
}

.ithem{
    padding-left: 68px;
    padding-right: 68px;
    width: 33.333%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.content{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #7E7F7C;
    line-height: 20px;

}

.image{
    max-width: 100%;
    vertical-align: middle;
    margin-bottom: 24px;
}

.head{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #2F302C;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.ithems.bottom-0{
    margin-left: -68px;
    margin-right: -68px;
    margin-bottom: 0px;
}
