@import url("reset.css");

@import url("fonts.css");

.section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.container{
    max-width: 14000px;
    margin: 0 auto;
}

.title{
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: black;
    margin-bottom: 50px;
}

.wrapper-games {
    background: url(../img/igry-rozmalovky-labirynt-1-2\ 1.png) center / cover no-repeat;
    max-width: 1400px;
    min-height: 640px;
    margin-bottom: 50px;
    padding-top: 88px;
}

.content-games {
    width: 493px;
    height: 493px;
    margin-left: 493px;
    font-size: 0;
    padding-top: 225px;
}

.content-games__block {
    background-color: #ffff00;
    font-size: initial;
    opacity: 0;
    transition: opacity 0.3s;
}

.content-games__block:hover {
    opacity: 1;
}

.content-games__block:nth-child(1) {
    width: 220px;
    height: 40px;
    margin-left: 0px;
    margin-top: 0px;
}

.content-games__block:nth-child(2) {
    width: 40px;
    height: 200px;
    margin-left: 220px;
    margin-top: -40px;
}

.content-games__block:nth-child(3) {
    width: 220px;
    height: 40px;
    margin-left: 220px;
    margin-top: 0px;
}

.content-games__block:nth-child(4) {
    width: 40px;
    height: 210px;
    margin-left: 440px;
    margin-top: -210px;
}

.content {
    width: 351px;
    padding: 0px 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 13px 19px #db0e0e12;
    margin: 0 auto;
}

.content__list {
    padding: 16px 0px 16px;
}

.content__item {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #252b42;
    margin-bottom: 15px;
    letter-spacing: 0.2px;
    line-height: 1.7;
}

.content__item::before{
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    background: url(../img/Check-badge.svg) 0 0 no-repeat;
}

.content__item span{
    display: inline-block;
    max-width: 83%;
    vertical-align: top;
}

.content__item:last-child {
    margin-bottom: 0;
}